* {
    margin: 0;
    padding: 0;
} 
 
 .cabeçalho{
    background-color: rgb(0, 0, 0);
color: rgb(245, 234, 234);
align-content: center;
display: inline-block;
}
.foto{
    width: 20%;
}
.braços {background-color: black;
color: aliceblue;}