
/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Definição de variáveis */
:root {
  --primary-color: rgb(102, 25, 227);
  --secondary-color: #6e33d3;
  --font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--font-family);
}

.cabeçalho {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabeçalho-imagem {
  width: 20%;
}

.cabeçalho-lista-item {
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cabeçalho-lista-item:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.escritora {
  background: linear-gradient(180deg, var(--secondary-color) 0%, #965ce1 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.escritora-div-conteudo {
  width: 35%;
}

.escritora-titulo {
  padding: 24px 0;
}

.escritora-imagem {
  width: 120px;
}

/* Responsividade */
@media (max-width: 768px) {
  .cabeçalho-imagem {
    width: 50%;
  }
  .escritora-div-conteudo {
    width: 80%;
  }
}

