/* Definições de animação */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos Gerais */
body {
  font-family: var(--fonte-principal);
  background-color: var(--cor-terciaria);
  color: #0a0a0a;
}

/* Estilos da Seção Escritora */
.escritora {
  background: linear-gradient(180deg, purple 20%, rgb(196, 3, 196) 100%);
  color: var(--cor-texto-claro);
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.escritora-div-conteudo, .escritora-imagem-container {
  animation: fadeInUp 1s ease-out;
}

.escritora-div-conteudo {
  width: 60%;
}

…}

.escritora-imagem-container {
  width: 35%;
  text-align: center;
}

.escritora-imagem {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instagram-link {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.instagram-link a {
  position: relative;
  overflow: hidden;
  font-family: var(--fonte-secundaria);
  font-size: 20px;
  color: var(--cor-texto-claro);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instagram-link a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cor-secundaria);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 0;
  opacity: 0.3;
}

.instagram-link a:hover::before {
  transform: scaleX(1);
}

.instagram-link a:hover {
  color: black; /* ou substitua por uma variável válida */
  transform: scale(1.05);
}

.instagram-link a span {
  position: relative;
  z-index: 1;
}

.instagram-icon {
  width: 40px;
  margin-bottom: 8px;
}
